.message{data: {message: {id: message.id}}}
  %ul.message__date
    %li.message__date__user
      = message.user.name
    %li.message__date__daytime
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message__comments
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?