.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        ユーザー名
      %ul.box__menu
        %li.box__menu__new-group
          =link_to "/" do
            %i.fa.fa-edit
        %li.box__menu__edit-user
          =link_to "/" do
            %i.fa.fa-cog

  .groups
    .group
      .group__name
        グループ名
      .group__message
        ああああ
    .group
      .group__name
        グループ名
      .group__message
        ああああ
    .group
      .group__name
        グループ名
      .group__message
        ああああ